/*
 * -------------------------------------------------
 *  NascentFlow Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

// Global default params, used in configs
params {

  version = "1.0" // Pipeline version
  container = 'skptic/nascentflow:latest' // Container slug. Stable releases should specify release tag!
  nf_required_version = '0.30.0' // Minimum version of nextflow required

// Input arguments
  crams = false
  bams = false

// Run arguments
  workdir = false
  clusterOptions = false
  genomeid = 'hg38'
  help = false
  nf_required_version = nf_required_version
  outdir = './results'
  singleEnd = false
  saveall = false
  savebg = false
  savebw = false
  savetfitbg = false
  savedregbw = false
  savetdf = false
  version = version
  r1_five_prime = false
}

profiles {

  hg38 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/hg38.config'
  }
  mm10 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/mm10.config'
  }
  rn6 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/rn6.config'
  }
  rheMac8 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/rheMac8.config'
  }
  panTro6 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/panTro6.config'
  }
  AGPv4 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/AGPv4.config'
  }
  ce10 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/ce10.config'
  }
  dm6 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/dm6.config'
  }
  EB1 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/EB1.config'
  }
  EF2 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/EF2.config'
  }
  saCer3 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/saCer3.config'
  }
  R64_1_1 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/R64_1_1.config'
  }
  TAIR10 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/TAIR10.config'
  }
  MEv6 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/MEv6.config'
  }
  equCab3 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/equCab3.config'
  }
  canFam4 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/canFam4.config'
  }
  susScr11 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/susScr11.config'
  }
  myoLuc2 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/myoLuc2.config'
  }
  criGriChoV2 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/criGriChoV2.config'
  }
  Pfalci {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/Pfalci.config'
  }
  Ttherm {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/Ttherm.config'
  }
  minimal {
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/minimal.config'
  }
  none {
    // Don't load any config (for use with custom home configs)
  }

}

timeline {
  enabled = true
    file = "${params.outdir}/pipeline_info/downfile_pipeline_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/downfile_pipeline_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/downfile_pipeline_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/downfile_pipeline_dag.svg"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
